@import "_reset";

.home-container{
    display:flex;
    flex-direction: column;
    margin-top:200px;
    gap:50px;
}

.home-container .inner{
    padding:20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.weather{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.weather > h2{font-size: size 25px; font-weight: 400;}
.weather .icon{margin:20px 0;}
.weather .icon i{font-size: 40vw;}
.weather .content-box{display:flex; flex-direction: row; justify-content: center; gap:30px;}
.weather .content-box .content{display:flex; flex-direction: column; justify-content: center; align-items: center; gap:30px}
.weather .content-box .content .top{display:flex; flex-direction: column; align-items: center;}
.weather .content-box .content .top .city{font-size:40px; font-weight: 600;}
.weather .content-box .content .top .current_temp{font-size:40px; font-weight: 600;}
.weather .content-box .content .bot{list-style: none; display:flex; flex-wrap: wrap;}
.weather .content-box .content .bot li{flex-basis: 50%;}



.todo span{display:block; width:100px; height:100px; margin:0 auto; background-color: #fff; border-radius: 50%;}
.todo p{text-align: center; margin-top:20px;}