@import "_reset";

.movie-container-inner {
    position: relative;
    display: flex;
    align-items: center;
    background: rgba(233, 201, 201, 0.1);
    border-radius: 10px;
    // padding: 30px;

    @media (max-width: 1000px) {
        padding: 30px;
        flex-direction: column;
        height: auto;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        height: auto;
    }
}
.rec-play-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    padding: 20px;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 140px;
}

.rec-play-button p {
    margin-right: 30px;
    font-size: 30px;
}

.rec-play-button i {
    position: absolute;
    right: 17px;
    font-size: 35px;
    transform: translateY(-40%);
    top: 50%;
}

.rec-movie-image {
    display: flex;
    border-radius: 10px;
    margin: 30px;

    @media (max-width: 1000px) {
        height: auto;
        margin: 0;
    }
    @media (max-width: 400px) {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.rec-movie-detail {
    font-size: 20px;
    margin: 30px;
    line-height: 35px;
}

.rec-movie-detail.title {
    font-size: 30px;
    font-weight: 600;
}

.movie-title {
    margin-top: 100px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.swiper {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 0 30px;
}

.swiper-wrapper {
    padding: 30px 0;
    width: 100%;
}

.swiper-slide {
    display: flex;
    width: auto;
}

.movie-image {
    display: flex;
    border-radius: 10px;
    height: auto;
    max-height: 400px;

    transition: max-height 0.4s ease-in-out;
    @media (max-width: 1000px) {
        max-height: 350px;
    }

    @media (max-width: 600px) {
        max-height: 300px;
    }

    @media (max-width: 400px) {
        max-height: 250px;
    }
}

.movie-image:hover,
.rec-movie-image:hover,
.movie-overlay-content:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.swiper-button-prev,
.swiper-button-next {
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: rgba(238, 130, 238, 0.8);
}

// popup

.hidden {
    display: none;
}

.movie-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    background-color: rgb(40, 39, 115);
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    overflow-y: auto;

    @media (max-width: 1000px) {
        width: auto;
    }
    @media (max-width: 500px) {
        width: auto;
    }
}

.movie-popup::-webkit-scrollbar {
    width: 10px;
}

.movie-popup::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.movie-popup::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.6);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-movie-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0;
}

.popup-movie-image {
    width: 200px;
    @media (max-width: 1000px) {
        margin: 0;
    }
    @media (max-width: 400px) {
        width: 100%;
        margin: 0;
    }
}
.popup-movie-detail > p {
    line-height: 30px;
    font-size: 20px;
    margin: 15px;
}

.popup-movie-detail > h3 {
    font-size: 30px;
    font-weight: bold;
}

.popup-play-button {
    position: relative;
    display: flex;
    padding: 15px 20px;
    background-color: #007bff;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 120px;
}

.popup-play-button p {
    font-size: 25px;
}

.popup-play-button i {
    position: absolute;
    right: 20px;
    font-size: 25px;
    transform: translateY(-40%);
    top: 50%;
}

.popup-close {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.movie-image-overview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}

.movie-overlay-content:hover .movie-image-overview {
    opacity: 1;
}

.movie-image-overview > i {
    width: 50px;
    height: 50px;
    font-size: 40px;
    margin: 0 10px;
    cursor: pointer;
}
.movie-popup.open .movie-image-overview i {
    pointer-events: none;
    opacity: 0.5;
}
.movie-image-overview > i:hover {
    transform: translateY(-7px);
}
