@import "_reset";

.movie-container-inner {
    display: flex;
    align-items: center;
    background: rgba(233, 201, 201, 0.1);
    border-radius: 10px;
    padding: 25px;
    max-width: 100%;

    @media (max-width: 900px) {
        flex-direction: column;
        height: auto;
    }
    @media (max-width: 500px) {
        flex-direction: column;
        height: auto;
    }
}

.rec-movie-image {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 30px;

    @media (max-width: 900px) {
        height: auto;
        margin: 0;
    }
    @media (max-width: 400px) {
        width: 100%;
        height: auto;
        margin: 0;
    }
}

.rec-movie-detail {
    font-size: 20px;
    margin: 30px auto;
}

.movie-title {
    margin-top: 100px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.movie-list-nowplaying,
.movie-list-upcoming {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.movie-list-detail {
    display: flex;
    border-radius: 10px;
    padding: 30px 10px;
    gap: 20px;
    list-style: none;
    transition: transform 0.3s ease;
}

.movie-image {
    border-radius: 10px;
    height: 450px;
}

.movie-image:hover,
.rec-movie-image:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    width: auto;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
}
