@import "_reset";

/** todo list css*/

.todo-container {
  border: 2px solid rgba(255, 255, 255, 0.6);
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 30px;
}
.todo-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 900;
}

#todo_current_date {
  height: 20px;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto 10px auto;
}
#newtask {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  outline: none;
  margin: 0 auto;
  gap: 30px;
  padding: 20px 0;
}

#newtask input {
  width: 100%;
  height: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 20px;
  color: white;
  font-weight: 500;
  position: relative;
  width: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  text-align: center;
  background-color: rgba(128, 82, 236, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
#newtask input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

#newtask button {
  width: 60px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 40px;
  color: rgb(40, 44, 111);
  font-weight: 200;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: aqua;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  text-align: center;
}

#newtask button:hover {
  transform: scale(1.05);
  background-color: antiquewhite;
}
#tasks {
  background-color: rgba(29, 33, 108, 0.7);
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 70%;
  margin: 30px auto 0 auto;
  transition: 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
}

.task {
  background-color: rgba(51, 51, 51, 0.1);
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
}
.task-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
#taskname {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 80%;
}
#taskname input {
  width: 100%;
  max-width: 80%;
  min-width: 20%;
  background-color: rgba(128, 82, 236, 0.3);
  outline: none;
  border: 2px solid rgb(128, 128, 128, 1.3);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  padding: 8px;
}
.task button {
  transition: 0.2s ease-in-out;
  background-color: rgba(0, 255, 255, 0.8);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  color: rgb(40, 44, 111);
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  transition: 0s ease-in-out;
}
.task button:hover {
  background-color: antiquewhite;
  transform: scale(1.1);
}

.completed {
  text-decoration: 1.5px line-through;
  color: white;
}

/** 성공률 css*/

#success-rate {
  width: 300px;
  top: 98px;
  right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  /** 포지션 수정 예정*/
}

// 캘린더 css

.calendar-container {
  border: 2px solid rgba(255, 255, 255, 0.6);
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 30px;
}

.calendar {
  border: 1px solid red;
}

.calendar-header {
  width: 100%;
  max-width: 50%;
  border: 1px solid gold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}
.month-picker {
  font-size: 30px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.year-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.year-picker button {
  cursor: pointer;
  color: white;
}

.calendar-body {
  border: 1px solid green;
}
.calendar-week-days {
  border: 1px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calendar-days {
  border: 1px solid chocolate;
  display: flex;
  justify-content: center;
}

// .calendar-days{} 수정 예정

.month-list {
  margin: 0 auto;
  border: 1px solid greenyellow;
  width: 100%;
  max-width: 40%;
}
//추가 수정 예정
