@import "_reset";

.util_menu{
    display:flex;
    gap:20px;
}
.util_menu .list{
    list-style: none;
    width:100px;
    height:100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
  justify-content: center;
}
.util_menu .list .temp{
    width:100px;
    height:100px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.location{
    display: flex;
    justify-content: flex-end;
    gap:10px;
}
.location #city{
    font-weight: 200;
}
.location > .fa-solid{
   margin-top:5px;
}
.main_weather{
   display: flex;
    margin-top:20px;
}
.main_weather .left{
    width:50%;
}
.main_weather .left > h1{
    font-size:40px;
}
.main_weather .right{
    padding:30px;

   // background:rgba(255, 255, 255, 0.1);
}

.main_weather #dust, #inform{
    background-color: rgba(255, 255, 255, 0.1);
    font-size:15px;
    margin:10px 0 10px 0;
    width:100%;
    border-radius: 15px;
    padding:20px;
}
.main_weather .icon p{
    font-size:20px;
    display:flex;
   justify-content: center;
   align-items: center;
   padding:20px;
}
.main_weather .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0 auto;
}
.main_weather #temperature{
    display: flex;
    justify-content: flex-end;
    font-size:5vw
}
// .main_weather .icon p{
//     margin-bottom:-10px;
// }
.main_weather #mainIcon {
    width:25vw;
    
}
.sub_weather{

    display:flex;
    list-style:none;
    gap:50px;
    justify-content: center;
    padding:20px;
}
.sub_content{
    width:100px;
    height:100px;
    background: rgba(255, 255, 255, 0.1);
    border-radius:10px;

}
.sub_content div{
    display: flex;
    flex-direction: column;
    width:80px;
    height:80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap:5px;
    margin-top:15px;
}

.location h2{
    font-size:30px;
}
.weather_wrap p{
    font-size:15px;
}
.update{
    display: flex;
    justify-content: flex-end;
    font-size:12px;
    color:lightgray;
}
.weather_list {
    width: 100%;

// outline: 1px solid red;
}
.weather_list .util{
    display: flex;
  
    gap:20px;
}
.weather_list .util .move{
    display: flex;
   margin-top: 10px;
    font-size: .6rem;

}
.weather_list h3{
    font-weight:300;
}

.weather_list button{
    color:#fff;
}
.weather_container{

    display: flex;
    flex-wrap: wrap;
    gap:30px;
    width: 100%;
    margin-top:30px;
// justify-content: center;


}
.weathers_box {
    list-style: none;
    width:45%;
    //height:150px;
    padding:0.4rem;
    background: rgba(255, 255, 255, 0.1);
}
.weathers_box .content{
    display:flex;
    height: 100%;
    padding:1rem;
}
.weathers_box .left{
display: flex;
flex-direction: column;
width: 50%;
padding: 10px;

}
.weathers_box .right{
    margin: 0 auto;
}


.max{
    color:red;
}
.min{
    color:lightcyan;
}

#message{
    font-size:15px;
}
/*반응형 미디어 쿼리*/
@media all and (max-width:610px){

    .sub_weather{
        display:flex; 
        flex-wrap: wrap;
  
    }
    .sub_content{
       width:200px;
    }
}
@media all and (max-width:845px){
    // .sub_weather{
    //     display:flex; 
    //     flex-wrap: wrap;

    // }
    #dust{
        display:flex; 
       flex-wrap: wrap;
    }
    .util_menu{
        display:flex; 
        flex-wrap: wrap;
        
    }
    .util_menu .list{
        flex-grow: 1;
 
    }
}
@media all and (max-width:553px) {
    .sub_weather{
        display: flex;
        flex-wrap: wrap;
      //  justify-content: space-between;
    }
    .sub_content {
        width: calc(50% - 10px);  // 두 개씩 배치되도록 너비 조정
        margin-bottom: 10px;      // 세로 간격 추가
    }
}
@media all and (max-width:430px){

    .main_weather{
        display: block;
    }
    .main_weather .left{
        width:100%;
    }
    .main_weather .right #temperature, .location{
        justify-content:center;
    }
    .weathers_box .left{
        width: 100%;
    }
}
@media all and (max-width:551px){
    // .sub_content{
    //     width:100%;
    // }
    .weathers_box .content{
        display: flex;
        flex-direction: column;
       
     
    }
    .weathers_box{

    }
}