<load src="../components/Header.html" title="HOME" />
<div class="home-container">
    <section class="inner">
        <div class="weather">
            <h2>오늘의 날씨</h2>
            <div class="content-box">
                <div class="content">
                    <!-- <h3 class="place">서울시</h3> -->
                    <!-- <p>20도</p> -->
                    <div class="top">
                        <div class="city"></div>
                        <span class="icon"></span>
                        <div class="current_temp"></div>
                    </div>
                    <ul class="bot">
                        <li class="temp_min"></li>
                        <li class="temp_max"></li>
                        <li class="humidity"></li>
                        <li class="wind"></li>
                        <li class="cloud"></li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="inner">
        <div class="todo">
            <h2>오늘의 할 일</h2>
            <div class="content-box">
                <ul id="todo_task"></ul>
            </div>
        </div>
    </section>
    <section class="inner">
        <div class="movie">
            <h2>오늘의 영화</h2>
            <div class="movie-box">
                <a href="">
                    <span class="today-rec-movie">1</span>
                </a>
            </div>

        </div>
    </section>
</div>

