<load src="../components/Header.html" title="Movie List" />
<div class="movie-container">
    <h2 class="movie-title">오늘의 추천 영화</h2>
    <span class="today-rec-movie">1</span>

    <!-- <section class="movie-container-inner">
        <div>1</div>
    </section> -->

    <h2 class="movie-title">현재 상영중인 영화</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section
                    class="movie-list-nowplaying"
                    id="movie-list-nowplaying"
                >
                    <!-- 가영님 -->
                    <!-- <ul class="movie-list-detail">
                        <a href="#"><li>영화</li></a>
                        <a href="#"><li>영화</li></a>
                        <a href="#"><li>영화</li></a>
                        <a href="#"><li>영화</li></a>
                    </ul> -->
                    <div class="movie-list-detail"></div>
                </section>
            </div>
        </div>
        <button type="button" class="swiper-button-prev">
            <!-- <i
                class="fa-solid fa-arrow-left"
                style="color: #ffffff"
            ></i> -->
        </button>
        <button type="button" class="swiper-button-next">
            <!-- <i
                class="fa-solid fa-arrow-right"
                style="color: #ffffff"
            ></i> -->
        </button>
    </div>

    <h2 class="movie-title">개봉 예정 영화</h2>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <section class="movie-list-upcoming" id="movie-list-upcoming">
                    <ul class="movie-list-detail">
                        <!-- <a href="#"><li>영화1</li></a>
                    <a href="#"><li>영화2</li></a>
                    <a href="#"><li>영화3</li></a>
                    <a href="#"><li>영화4</li></a> -->
                    </ul>
                </section>
            </div>
        </div>
        <button type="button" class="swiper-button-prev"></button>
        <button
            type="button"
            class="swiper-button-next"
            id="movie-pager-right"
        ></button>
    </div>
</div>
