<load src="../components/Header.html" title="Weather" />
<div class="loading">
    <h1>날씨 정보를 받아오는 중입니다..</h1>
</div>
<div class="weather_wrap">
    <section>
        <p id="today_date"></p> 
     </section>
     <section>
         <div class="main_weather">
            <div class="left">
                <span class="text-wrapper">
                    <h1 class="text">안녕하세요, 반가워요!</h1> 
                </span>
               
                <h4 id="message"></h4>
                <div class="icon">
                    <img id="mainIcon" alt="Weather Icon">
                 </div>
            </div>
             <div class="right">
                <h1 id="temperature"></h1>
                <div class="location">
                    <i class="fa-solid fa-location-dot"></i>
                    <h3 id="city">도시</h3>
                </div>
                <p style="color:green">미세먼지</p>
                <p id="dust"></p>
                <p id="inform"></p><span class="update">업데이트 완료</span>
                <ul class="util_menu">
                    <li class="list">
                        <div class="temp">
                            <p>체감온도</p>
                        <i class="fa-solid fa-temperature-empty"></i>
                        <p id="feelsTemp"><p>
                    </div>
                    </li>
                    <li class="list">
                        <div class="temp">
                            <p>최고온도</p>
                            <i class="fa-solid fa-temperature-empty max"></i>
                            <p id="maxTemp"><p>
                    </div>
                    </li>
                    <li class="list">
                        <div class="temp">
                            <p>최저온도</p>
                    <i class="fa-solid fa-temperature-empty min"></i>
                    <p id="minTemp"><p>
                    </div>
                    </li>
                    <li class="list">
                        <div class="temp">
                            <p>습도</p>
                            <i class="fa-solid fa-droplet"></i>
                          <p id="humidity"><p>
                    </div>
                    </li>
                    <li class="list">
                        <div class="temp">
                            <p>풍속</p>
                        <i class="fa-solid fa-wind"></i>
                        <p id="wind"><p>  
                    </div>
                    </li>
                    <li class="list">
                        <div class="temp">
                            <p>강수량</p>
                            <i class="fa-solid fa-umbrella"></i>
                        <p id="rain"><p>  
                    </div>
                    </li>
                </ul>
                
             </div>
           
         </div>
     </section>
     
     <section class="weather_list">
         <div class="util">
             <h3>지역 일기예보</h3>
             <a class="move" href="https://weather.naver.com/today/14110122">자세히 보기</a>
         </div>
         <ul class="weather_container">
             <li class="weathers_box">
               <div class="content">
                <div class="left">
                    <div class="top">
                        <p>서울</p>
                        <p id="seoul"></p>
                    </div>
                    <div class="down"><p id="seoulDes"></p></div>
                </div>
                <div class="right">
                    <div class="icon">
                        <img id="seoul_icon">
                    </div>
                </div>
               </div>
             </li>
             <li class="weathers_box">
                <div class="content">
                    <div class="left">
                        <div class="top">
                            <p>강원도</p>
                            <p id="gangwon"></p>
                        </div>
                        <div class="down"><p id="gangDes"></p></div>
                    </div>
                    <div class="right">
                        <div class="icon">
                            <img id="gang_icon">
                        </div>
                    </div>
                    </div>
             </li>
             <li class="weathers_box">
                <div class="content">
                <div class="left">
                    <div class="top">
                        <p>전라남도</p>
                        <p id="jeonN"></p>
                    </div>
                    <div class="down"><p id="jeonDes"></p></div>
                </div>
                <div class="right">
                    <div class="icon">
                       <img id="jeonN_icon">
                    </div>
                </div>
                </div>
             </li>
             <li class="weathers_box">
                <div class="content">
                <div class="left">
                    <div class="top">
                        <p>전라북도</p>
                        <p id="jeonb"></p>
                    </div>
                    <div class="down"><p id="description"></p></div>
                </div>
                <div class="right">
                    <div class="icon">
                       <img id="jeonb_icon">
                    </div>
                </div>
                </div>
             </li>
         </ul>
     </section>
</div>
