<load src="../components/Header.html" title="Hello" />
<h2>weather</h2>

<section>
   <h2>도시</h2>
   <p>디테일</p>
</section>
<section>
    <div class="main_weather">
        <div>
            아이콘
        </div>
        <p>20'C</p>
    </div>
    <div>
        <ul class="sub_weather">
            <li>
                <a href="#">습도</a>
            </li>
            <li>
                <a href="#">풍속</a>
            </li>
            <li>
                <a href="#">기압</a>
            </li>
        </ul>
    </div>

</section>

<section>
    <div>
        <h3>Favorite Locations</h3>
        <button>View All</button>
    </div>
    <ul class="weather_container">
        <li class="weathers_box">
            <a href="#">오늘날씨</a>
        </li>
        <li class="weathers_box">
            <a href="#">내일날씨</a>
        </li>
        <li class="weathers_box">
            <a href="#">모레날씨</a>
        </li>
        <li class="weathers_box">
            <a href="#">모레날씨</a>
        </li>
    </ul>
 
</section>