<footer class="BottomTab" id="bottom-tab">
  <a class="TabItem" href="/">
    <i class="fas fa-home"></i>
    <span class="TabItemLabel">Home</span>
  </a>
  <a class="TabItem" href="/pages/weather.html">
    <i class="fa-solid fa-cloud"></i>
    <span class="TabItemLabel">weather</span>
  </a>
  <a class="TabItem" href="/pages/todo.html">
    <i class="fa-regular fa-clock"></i>
    <span class="TabItemLabel">todo</span>
  </a>
  <a class="TabItem" href="/pages/movies.html">
    <i class="fa-solid fa-film"></i>
    <span class="TabItemLabel">movie</span>
  </a>
</footer>
